---
import type { CollectionEntry } from "astro:content";

interface Props {
  id: string;
  data: CollectionEntry<"posts">["data"];
}

const { id, data } = Astro.props as Props;
const { title, date, description } = data;
---

<a
  href={`/${id}`}
  class="flex flex-col gap-y-1 hover:scale-[1.02] transition-transform"
>
  <h2 class="text-3xl font-bold">{title}</h2>
  <p class="text-gray-400">{date}</p>
  <p class="text-lg">{description}</p>
</a>
