---
type KeyProps = 'title' | 'date' | 'description' | 'url'
type Props = Record<KeyProps, string>

const { title, date, description, url }: Props = Astro.props
---

<a
  href={url}
  class="flex flex-col gap-y-1 hover:scale-[1.02] transition-transform"
>
  <h2 class="text-3xl font-bold">{title}</h2>
  <p class="text-gray-400">{date}</p>
  <p class="text-lg">{description}</p>
</a>
